<div class="content">
    <div class="wrap cf">
        <h1 class="projTitle">
            Shopping Cart
        </h1>
        <div class="heading cf">
            <h1>My Cart</h1>
            <a href="/yummy" class="continue">Continue Shopping</a>
        </div>
        <div class="cart">
            <ul class="cartWrap">
                {% load mathfilters %}
                {% for item in items %}
                {% if forloop.counter|divisibleby:2 %}
                <li class="items even">
                    {% else %}
                <li class="items odd">
                    {% endif %}
                    <div class="infoWrap">
                        <div class="cartSection">
                            <img
                                    src="{{item.0.image}}"
                                    alt=""
                                    class="itemImg"
                            />
                            <p id="itemid" class="itemNumber">ID#{{ item.0.id }}</p>
                            <h3>{{item.0.name}}</h3>

                            <p><input id="qty" type="number" min=1 class="qty" value={{item.1}} placeholder="1"/> x
                                {{item.0.price}}
                            </p>

                            <p class="stockStatus">In Stock</p>
                        </div>

                        <div class="prodTotal cartSection">
                            <p>₪{{ item.0.price|mul:item.1 }}</p>
                        </div>
                        <div class="cartSection removeWrap">
                            <a href="" class="remove">x</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="subtotal cf">
            <ul>
                <li class="totalRow">
                    <span class="label">Subtotal</span><span class="value">₪{{totalprice}}</span>
                </li>

                <li class="totalRow">
                    <span class="label">Shipping</span><span class="value">₪5.00</span>
                </li>
                <li class="totalRow final">
                    <span class="label">Total</span><span class="value">₪{{ totalprice|add:5 }}</span>
                </li>
                <li class="totalRow">
                    <a href="#" class="btn continue">Checkout</a>
                </li>
            </ul>
        </div>
    </div>
</div>