<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Cart</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css"/>
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cartstyle.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/generalstyle.css' %}"/>
    <script src="{% static 'js/cartjs.js' %}"></script>
</head>
<body>
<section>
    <div class="circle"></div>
    <header>
        <a href="/yummy"> <img src="{% static 'img/categories/logo.png' %}" class="logo"/></a>
        <div class="toggle" onclick="toggleMenu()"></div>
        <ul class="navigation">
            <li><a href="/yummy">Home</a></li>
            <li><a href="#">Food Categories</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Contacts</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </header>

    <div class="content">
        <div class="wrap cf">
            <h1 class="projTitle">
                Shopping Cart
            </h1>
            <div class="heading cf">
                <h1>My Cart</h1>
                <a href="#" class="continue">Continue Shopping</a>
            </div>
            <div class="cart">
                <ul class="cartWrap">
                    {% load mathfilters %}
                    {% for item in items %}
                    {% if forloop.counter|divisibleby:2 %}
                    <li class="items even">
                        {% else %}
                    <li class="items odd">
                        {% endif %}
                        <div class="infoWrap">
                            <div class="cartSection">
                                <img
                                        src="{{item.image}}"
                                        alt=""
                                        class="itemImg"
                                />
                                <p class="itemNumber">ID#{{ item.id }}</p>
                                <h3>{{item.name}}</h3>

                                <p><input type="text" class="qty" placeholder="1"/> x {{item.price}}</p>

                                <p class="stockStatus">In Stock</p>
                            </div>

                            <div class="prodTotal cartSection">
                                <p>₪{{ item.price|mul:1 }}</p>
                            </div>
                            <div class="cartSection removeWrap">
                                <a href="#" class="remove">x</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>


            <div class="subtotal cf">
                <ul>
                    <li class="totalRow">
                        <span class="label">Subtotal</span><span class="value">₪35.00</span>
                    </li>

                    <li class="totalRow">
                        <span class="label">Shipping</span><span class="value">₪5.00</span>
                    </li>

                    <li class="totalRow">
                        <span class="label">Tax</span><span class="value">₪4.00</span>
                    </li>
                    <li class="totalRow final">
                        <span class="label">Total</span><span class="value">₪44.00</span>
                    </li>
                    <li class="totalRow">
                        <a href="#" class="btn continue">Checkout</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>

<footer>
    <ul class="sci">
        <li>
            <a href="#"><img src="{% static 'img/categories/facebook.png' %}"/></a>
        </li>
        <li>
            <a href="#"><img src="{% static 'img/categories/twitter.png' %}"/></a>
        </li>
        <li>
            <a href="#"><img src="{% static 'img/categories/instagram.png' %}"/></a>
        </li>
        <li>
            <a href="#"><img src="{% static 'img/categories/facebook.png' %}"/></a>
        </li>
    </ul>
</footer>

<script>
    function toggleMenu() {
        const menuToggle = document.querySelector(".toggle");
        const navigation = document.querySelector(".navigation");
        menuToggle.classList.toggle("active");
        navigation.classList.toggle("active");
    }
</script>
<script type="text/javascript" src="cart.js"></script>
</body>
</html>
