<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Orders</title>
    {% load static %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css"/>
    <link rel="stylesheet" href="{% static 'css/orders.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossOrigin="anonymous">
    </script>
</head>
<!-- ************************************************************************   
                            THIS IS A TOTALLY NEW PAGE THAT I CREATED
                ************************************************************************ -->

<body>
<section>
    <div class="circle"></div>
    <header>

        <div class="toggle" onclick="toggleMenu()"></div>
        <ul class="navigation">
            <!-- ************************************************************************
                        EDITED URLS THAT EACH LINK IN THE NAVBAR DIRECTS TO
                        ADDED CART ICON THAT REDIRECTS TO THE CART ROUTE
            ************************************************************************ -->
            <a href="/yummy/cart"><img src="{% static 'img/fullCart.ico' %}" alt="fullCart" class="cartIcon"></a>
            <li><a href="/yummy">Home</a></li>
            <li class="dropdown">
                <a class="nav-link dropdown-toggle p-0" href="#" id="navbarDarkDropdownMenuLink" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                <ul class="dropdown-menu  bg-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item m-0" href="/yummy/catalog/Fast Food">Fast Food</a></li>
                    <li><a class="dropdown-item m-0" href="/yummy/catalog/Pastries">Pastries</a></li>
                    <li><a class="dropdown-item m-0" href="/yummy/catalog/Traditional">Traditional</a></li>
                    <li><a class="dropdown-item m-0" href="/yummy/catalog/Desserts">Desserts</a></li>
                    <li><a class="dropdown-item m-0" href="/yummy/catalog/Drinks">Drinks</a></li>
                    <li><a class="dropdown-item m-0" href="/yummy/catalog/Salads">Salads</a></li>
                </ul>
            </li>
            <a style="text-decoration: none; color: white;" href="/yummy/cart"><img width="30" height="30"
                                                                                    src="{% static 'img/fullCart.png' %}"
                                                                                    alt="fullCart" class="cartIcon">
                Cart</a>
            <li><a href="/yummy/orders">Orders</a></li>
            <li><a href="/yummy/contactus">Contacts</a></li>
            {% if request.session.loggedin %}
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/">Login</a></li>
            {% endif %}
        </ul>
    </header>

    <div class="content">
        <table class="table  table-hover ordersTable">
            <thead class="table-dark">
            <th>Dish</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            </thead>
            <tbody class="table-light">
            {% load mathfilters %} {% for item in items %}
                <tr>
                    <td>{{ item.0.name }}</td>
                    <td>{{ item.1 }}</td>
                    <td>{{ item.0.price }}</td>
                    <td>₪{{ item.2 }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Subtotal</td>
                <td></td>
                <td></td>
                <td>₪{{ totalprice }}</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td></td>
                <td></td>
                <td>₪5.0</td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td></td>
                <td>₪{{ totalprice|add:5}}.0</td>
            </tr>
            </tbody>
        </table>
    </div>

</section>

<!-- ************************************************************************
                        REMOVED THE DUPLICATED FACEBOOK ICON
                        ADDED SOCIAL MEDIA URLS
    ************************************************************************ -->

<footer>
    <ul class="sci">
        <li>
            <a href="https://twitter.com/"><img src="{% static 'img/categories/twitter.png' %}"/></a>
        </li>
        <li>
            <a href="https://www.instagram.com/"><img src="{% static 'img/categories/instagram.png' %}"/></a>
        </li>
        <li>
            <a href="https://www.facebook.com/"><img src="{% static 'img/categories/facebook.png' %}"/></a>
        </li>
    </ul>
</footer>
<script>
    function toggleMenu() {
        const menuToggle = document.querySelector(".toggle");
        const navigation = document.querySelector(".navigation");
        menuToggle.classList.toggle("active");
        navigation.classList.toggle("active");
    }
</script>
</body>

</html>