@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #070d59;
    /* Colors HERE-------------------------  */
}

footer {
    background: #070d59;
    /* Colors HERE-------------------------  */
}

section .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ee6f57;
    /* Colors HERE-------------------------  */
    clip-path: circle(70% at right -20%);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 150px;
}

header .navigation {
    position: relative;
    display: flex;
    align-items: center;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.sci {
    position: relative;
    bottom: 15px;
    left: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: fit-content;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin-left: 15px;
    background: #5b84c4;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.sci li a:hover {
    background: #fb9b50;
    transform: translateY(-10px);
}

.sci li a img {
    filter: invert(1);
}

.item {
    width: 24%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.096);
    transition: .4s;
}

.buy-1 {
    background-color: #2183a2;
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0px;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.item:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    transform: translate(0px, -8px);
    transition: .6s;
}

.itemPicture {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.itemTitle {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color: #f8f1f1;
}

.itemDescription {
    text-align: center;
    padding: 0 8px;
    color: #f8f1f1;
}

.itemPrice {
    font-size: 26px;
    text-align: center;
    color: #f8f1f1;
    margin: 0;
}

.itemsInColumn {
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 991px) {
    .itemsInColumn {
        align-content: flex-end;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .item {
        width: 100%;
        margin-left: 75%;
        margin: 25px 0 0 0;
    }
    header {
        padding: 40px;
    }
    section {
        padding: 150px 40px;
    }
    .sci {
        /*left: 5%;*/
        width: fit-content;
    }
    .content {
        flex-direction: column;
    }
    header .navigation {
        display: none;
    }
    header .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        background: #070d59;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
    .navigation.active li a {
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
    }
    header .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background: url('../img/categories/menu.png');
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }
    .toggle.active {
        position: fixed;
        right: 40px;
        background: url(../img/categories/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.ui-autocomplete>li>div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
    cursor: pointer;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}